In [1]:
# Analyse C11 dataset

In [9]:
import pandas as pd
import csv
import zipfile
import os
import glob
import csv 
import njvotes


county = 'ESSEX'
zipcode = '07078'
city = 'Maplewood'

# Get data headers
voteheaders = ['voter id', 'status code', 'party code', 'last name', 'first name',
       'middle name', 'prefix', 'suffix', 'sex', 'street number', 'suffix a',
       'suffix b', 'street name', 'apt/unit no.', 'Address Line 2',
       'Address Line 3', 'city', 'state', 'zip5', 'zip4',
       'mailing street number', 'mailing suffix a', 'mailing suffix b',
       'mailing street name', 'mailing apt/unit no.', 'mailing address line 1',
       'mailing address line 2', 'mailing city', 'mailing state',
       'mailing country', 'mailing zip code', 'birth date', 'date registered',
       'county precinct', 'municipality', 'ward', 'district', 'phone number',
       'election date', 'election name', 'election type', 'election category',
       'ballot type', 'county', 'Address Line 1']
voteheadertypes = {}
for col in voteheaders:
    voteheadertypes[col] = 'str'
    
df = pd.read_csv('../2017 Voter data/C11voters_allparties_townarea_10digitphone.csv',
                 dtype=voteheadertypes) 
print('{}'.format(df.columns))
df.head()

Index(['voter id', 'status code', 'party code', 'last name', 'first name',
       'middle name', 'prefix', 'suffix', 'sex', 'street number', 'suffix a',
       'suffix b', 'street name', 'apt/unit no.', 'Address Line 2',
       'Address Line 3', 'city', 'state', 'zip5', 'zip4',
       'mailing street number', 'mailing suffix a', 'mailing suffix b',
       'mailing street name', 'mailing apt/unit no.', 'mailing address line 1',
       'mailing address line 2', 'mailing city', 'mailing state',
       'mailing country', 'mailing zip code', 'birth date', 'date registered',
       'county precinct', 'municipality', 'ward', 'district', 'phone number',
       'election date', 'election name', 'election type', 'election category',
       'ballot type', 'county', 'Address Line 1'],
      dtype='object')

,voter id,status code,party code,last name,first name,middle name,prefix,suffix,sex,street number,...,ward,district,phone number,election date,election name,election type,election category,ballot type,county,Address Line 1
0,101459860,IF,U,Abbatemarco,Amy,L,NaN,NaN,O,73,...,01,02,NaN,NaN,NaN,NaN,NaN,NaN,Essex,73 Valentine Rd
1,150970667,A,D,Abdelhakim,Hanan,F,NaN,NaN,O,98,...,01,02,NaN,11/04/2008,General Election,GEN,S,M,Essex,98 Curtis St
2,151276539,A,D,Abdi,Gholamreza,NaN,NaN,NaN,M,17,...,01,02,9733375529,NaN,NaN,NaN,NaN,NaN,Essex,17 Irving Ter
3,101596907,A,D,Abendschoen,Barbara,J,NaN,NaN,O,187,...,01,02,NaN,06/07/2016,Primary Election,PRI,S,M,Essex,187 Baldwin St
4,533583372,A,U,Abendschoen,Edward,NaN,NaN,NaN,O,187,...,01,02,9737485412,NaN,NaN,NaN,NaN,NaN,Essex,187 Baldwin St

In [7]:
df['party code'].value_counts()

U    205567
D    160997
R    139107
L       519
O       368
G       231
C       154
E        22
Name: party code, dtype: int64

In [10]:
df['city'].value_counts()

Wayne                    38401
West Orange              35223
Bloomfield               34163
Montclair                31788
Morristown               29590
Livingston               22806
Nutley                   21205
Randolph                 18005
Rockaway                 16400
Sparta                   16063
Morris Plains            14362
Chatham                  14174
Denville                 13516
Verona                   11253
Madison                  11155
Cedar Grove               9628
Woodland Park             9048
West Caldwell             8818
East Hanover              8671
Little Falls              8455
Boonton                   8346
Mendham                   8269
Kinnelon                  7969
Montville                 7882
Hopatcong                 7847
Florham Park              7703
Pompton Lakes             7701
Totowa                    7599
Lincoln Park              7088
North Haledon             6520
Stanhope                  6279
Fairfield                 5868
Caldwell                  5731
Roseland                  5474
North Caldwell            5378
Bloomingdale              5316
Butler                    5089
Wanaque                   4998
Mountain Lakes            3418
Pequannock                3236
Riverdale                 2995
Essex Fells               1921
Ogdensburg                1607
Parsippany-Troy Hills        5
Harding                      2
Name: city, dtype: int64

In [11]:
pd.crosstab(df['city'], df['party code'])

party code              C      D  E   G   L   O      R      U
city
Bloomfield             13  16446  1  27  31  22   4513  13110
Bloomingdale            1   1507  0   3   7   5   1360   2433
Boonton                 2   2004  4   6  17   8   3256   3049
Butler                  3   1107  0   5   6   5   1698   2265
Caldwell                3   1938  0   3  10   0   1384   2393
Cedar Grove             3   2640  0   5   6   2   2588   4384
Chatham                 1   3414  0   2  14   3   5221   5519
Denville                3   3119  3   6  16   8   5593   4768
East Hanover            4   2072  2   2   7   4   3238   3342
Essex Fells             0    393  0   0   2   1    950    575
Fairfield               4   1106  0   2   4   2   2284   2466
Florham Park            4   1650  1   2   9   3   3256   2778
Harding                 0      0  0   0   0   0      2      0
Hopatcong               0   1721  0   8  12  12   2767   3327
Kinnelon                4   1395  0   2   9   8   3680   2871
Lincoln Park            3   1692  1   7  13   7   2256   3109
Little Falls            2   2540  0   7   6   4   1999   3897
Livingston              8   8325  1   8  20  10   3909  10525
Madison                 2   3239  0   4  14  10   3352   4534
Mendham                 2   1656  0   6  15   3   3546   3041
Montclair               6  18710  1  15  33   9   2639  10375
Montville               1   1707  1   4   3   8   2994   3164
Morris Plains           9   3586  0   9  20  12   5087   5639
Morristown             10   9886  0  14  39  23   8604  11014
Mountain Lakes          2    887  0   0   4   3   1069   1453
North Caldwell          2   1357  0   2   2   2   1739   2274
North Haledon           1   1334  0   4   3   5   2615   2558
Nutley                  2   6816  1   7  16  15   4393   9955
Ogdensburg              0    343  0   0   1   6    589    668
Parsippany-Troy Hills   0      0  0   0   0   0      3      2
Pequannock              5    626  0   0   2   1   1229   1373
Pompton Lakes           0   1930  1   1  10  13   2196   3550
Randolph               11   4757  1   9  24  17   5266   7920
Riverdale               0    544  0   0   1   2   1274   1174
Rockaway                8   4294  1  18  28  17   5669   6365
Roseland                0   1725  0   1   4   1   1656   2087
Sparta                  0   3263  1   5  18  16   5831   6929
Stanhope                3   1430  1   3   7   7   2049   2779
Totowa                  1   1630  0   3   7   7   2892   3059
Verona                  1   3833  0   3   8   5   2684   4719
Wanaque                 2   1323  0   2   7   5   1697   1962
Wayne                   8   9947  1  12  28  37  12005  16363
West Caldwell           3   2534  0   1   7   3   2522   3748
West Orange            11  17480  0   8  26  15   3752  13931
Woodland Park           6   3091  0   5   3  22   1801   4120