# Clean C11 Districts Excel file

We have a file containing all the census blocks and MCD codes for each NJ Congressional district. We don't have the mapping from those codes to the voter dataset that we've created. This is where we fix that. 

Plan: 
* drop 1 row at start and two rows at end
* for district 001 to 012, find "District xxx" and "District xxx Subtotal"; make everything between then district = xxx; drop the top and bottom row
* Look for "County",  make everything between xxx County and xxx County Subtal county= xxx; drop the top and bottom rows
* Get the name of each MCD
* Get the mapping from each non-MCD tract to the voters dataset (we have ward, zipcode and address: somewhere in there we can do this mapping). 
* Erm... that should be it.  Unless you want to mark the towns vs tracts?

In [118]:
import pandas as pd

df = pd.read_excel('../2017 Other data/NJCD_2011_PLAN_COMPONENTS_COUNTY_MCD_XLS.xls')
df = df[['Plan:', 'NJCD_2011_ADOPTED_DEC23']]

# Convert census blocks to MCD tag plus block id
df = df.fillna('')
df.rename(columns={'Plan:': 'Census Block', 
                   'NJCD_2011_ADOPTED_DEC23': 'Population'}, inplace=True)
df['Census Block'] = df['Census Block'].str.strip()
df['MCD'] = 'N'
df.loc[df['Census Block'].str.startswith('MCD'), ['MCD']] = 'Y'
df.loc[df['Census Block'].str.startswith('MCD'), ['Census Block']] = df['Census Block'].str[4:].str.strip()

# Add block names, district and county ids
df['Name'] = ''
df['District'] = ''
df['County'] = ''
df.head()

           Census Block  Population MCD Name District County
0                        Population   N
1          District 001               N
2  Burlington NJ County               N
3            3400543740       19131   Y
4            3400555800        7398   Y

In [119]:
df[df['Census Block'].str.contains('Subtotal')]['Census Block'].unique()

array(['Burlington NJ County Subtotal', 'Camden NJ County Subtotal',
       '3401519180 Subtotal', 'Gloucester NJ County Subtotal',
       'District 001 Subtotal', '3402970320 Subtotal',
       'Ocean NJ County Subtotal', 'District 002 Subtotal',
       '3402959880 Subtotal', 'District 003 Subtotal',
       'Mercer NJ County Subtotal', '3402545990 Subtotal',
       'Monmouth NJ County Subtotal', 'District 004 Subtotal',
       '3400372360 Subtotal', 'Bergen NJ County Subtotal',
       'Passaic NJ County Subtotal', 'Sussex NJ County Subtotal',
       'Warren NJ County Subtotal', 'District 005 Subtotal',
       '3402354705 Subtotal', 'Middlesex NJ County Subtotal',
       'District 006 Subtotal', 'Essex NJ County Subtotal',
       'Morris NJ County Subtotal', 'Somerset NJ County Subtotal',
       '3403966060 Subtotal', '3403974480 Subtotal',
       'Union NJ County Subtotal', 'District 007 Subtotal',
       '3401351000 Subtotal', '3401703580 Subtotal', '3401736000 Subtotal',
       '3401736510 Subtotal', 'Hudson NJ County Subtotal',
       'District 008 Subtotal', 'District 009 Subtotal',
       '3401306260 Subtotal', '3401347500 Subtotal', '3401379800 Subtotal',
       'District 010 Subtotal', 'District 011 Subtotal',
       'District 012 Subtotal'], dtype=object)

In [120]:
# Put district and county into their own columns
district = ''
county = ''
for row in df['Census Block'].iteritems():
    
    # Find district and county ids
    if row[1] in ['State totals', '']:
        continue
    if row[1].find('Subtotal') > -1:
        continue
    if row[1].startswith('District'):
        district = row[1][8:].strip()
        continue
    if row[1].endswith('NJ County'):
        county = row[1][:-9].strip()
        continue
    
    df.set_value(row[0], 'District', district)
    df.set_value(row[0], 'County', county)

df = df[df['District'] != '']
df.head()

  Census Block Population MCD Name District      County
3   3400543740      19131   Y           001  Burlington
4   3400555800       7398   Y           001  Burlington
7   3400702200       8819   Y           001      Camden
8   3400702230       1023   Y           001      Camden
9   3400703250       6983   Y           001      Camden

In [121]:
# Add MCD names
header = ['Summary level code', 'FIPS state code', 
          'FIPS county code', 'FIPS MCD code', 'State name', 
          'County name', 'MCD name', 
          'resident pop estimate', 'resident pop MOE', 
          'working in MCD', 'working in MCD MOE', 
          'living in MCD', 'living in MCD MOE', 
          'daytime pop', 'daytime pop MOE',
          'commuting pop change', 'commuting pop change MOE',
          'commuting pop percent', 'commuting pop percent MOE',
          'live and work', 'live and work MOE',
          'live and work percent', 'live and work percent MOE',
          'work residence ratio', 'work residence ratio MOE']
mcdheadertypes = {}
for col in header:
    mcdheadertypes[col] = 'str'

dfmcd = pd.read_excel('../2017 Other data/MCD details/Table2.xls', skiprows=7, skipfooter=22,
                      dtypes = mcdheadertypes, header = None, names=header, index=None)
dfmcd = dfmcd.fillna('')
for col in ['FIPS state code', 'FIPS county code', 'FIPS MCD code']:
    dfmcd[col] = dfmcd[col].astype(str)
dfmcd['census block'] = dfmcd['FIPS state code'].str.zfill(2) + \
                        dfmcd['FIPS county code'].str.zfill(3) + \
                        dfmcd['FIPS MCD code'].str.zfill(5)
dfmcd.head()

,Summary level code,FIPS state code,FIPS county code,FIPS MCD code,State name,County name,MCD name,resident pop estimate,resident pop MOE,working in MCD,...,commuting pop change MOE,commuting pop percent,commuting pop percent MOE,live and work,live and work MOE,live and work percent,live and work percent MOE,work residence ratio,work residence ratio MOE,census block
0,60,9,1,4720,Connecticut,Fairfield County,Bethel town,18377,27,7377,...,731,-9.3,4.0,2033,290,22.4,2.7,0.81,0.07,0900104720
1,60,9,1,8070,Connecticut,Fairfield County,Bridgeport town,142576,45,46183,...,1544,-11.2,1.1,19323,1048,31.1,1.6,0.74,0.02,0900108070
2,60,9,1,8980,Connecticut,Fairfield County,Brookfield town,16214,25,6704,...,572,-10.6,3.5,2064,288,24.5,3.3,0.80,0.06,0900108980
3,60,9,1,18500,Connecticut,Fairfield County,Danbury town,79371,40,46553,...,1444,6.7,1.8,18462,1061,44.8,2.2,1.13,0.04,0900118500
4,60,9,1,18850,Connecticut,Fairfield County,Darien town,20414,37,8888,...,714,6.4,3.5,1949,225,25.7,2.5,1.17,0.10,0900118850

In [122]:
# Doesn't have all the places in it... 
pd.merge(df, dfmcd[['MCD name', 'census block']], how='left', left_on=['Census Block'], right_on=['census block'])

,Census Block,Population,MCD,Name,District,County,MCD name,census block
0,3400543740,19131,Y,,001,Burlington,Maple Shade township,3400543740
1,3400555800,7398,Y,,001,Burlington,Palmyra borough,3400555800
2,3400702200,8819,Y,,001,Camden,Audubon borough,3400702200
3,3400702230,1023,Y,,001,Camden,NaN,NaN
4,3400703250,6983,Y,,001,Camden,Barrington borough,3400703250
5,3400704750,11583,Y,,001,Camden,Bellmawr borough,3400704750
6,3400705440,7588,Y,,001,Camden,Berlin borough,3400705440
7,3400705470,5357,Y,,001,Camden,Berlin township,3400705470
8,3400708170,1955,Y,,001,Camden,NaN,NaN
9,3400710000,77344,Y,,001,Camden,Camden city,3400710000
10,3400712280,71045,Y,,001,Camden,Cherry Hill township,3400712280
11,3400712550,1634,Y,,001,Camden,NaN,NaN
12,3400713420,5000,Y,,001,Camden,NaN,NaN
13,3400714260,13926,Y,,001,Camden,Collingswood borough,3400714260
14,3400726070,2274,Y,,001,Camden,NaN,NaN
15,3400726760,64634,Y,,001,Camden,Gloucester township,3400726760
16,3400726820,11456,Y,,001,Camden,Gloucester City city,3400726820
17,3400728740,14707,Y,,001,Camden,Haddon township,3400728740
18,3400728770,11593,Y,,001,Camden,Haddonfield borough,3400728770
19,3400728800,7473,Y,,001,Camden,Haddon Heights borough,3400728800
20,3400732220,870,Y,,001,Camden,NaN,NaN
21,3400739210,1908,Y,,001,Camden,NaN,NaN
22,3400739420,2945,Y,,001,Camden,NaN,NaN
23,3400740440,17613,Y,,001,Camden,Lindenwold borough,3400740440
24,3400742630,4341,Y,,001,Camden,Magnolia borough,3400742630
25,3400745510,3821,Y,,001,Camden,NaN,NaN
26,3400748750,4676,Y,,001,Camden,NaN,NaN
27,3400753880,4038,Y,,001,Camden,NaN,NaN
28,3400757660,35885,Y,,001,Camden,Pennsauken township,3400757660
29,3400758770,10233,Y,,001,Camden,Pine Hill borough,3400758770
...,...,...,...,...,...,...,...,...
12709,: 340390386022015,0,N,,012,Union,NaN,NaN
12710,: 340390386022016,0,N,,012,Union,NaN,NaN
12711,: 340390386022017,44,N,,012,Union,NaN,NaN
12712,: 340390386022018,108,N,,012,Union,NaN,NaN
12713,: 340390386022019,14,N,,012,Union,NaN,NaN
12714,: 340390386022020,395,N,,012,Union,NaN,NaN
12715,: 340390386022021,3,N,,012,Union,NaN,NaN
12716,: 340390386022022,22,N,,012,Union,NaN,NaN
12717,: 340390386022023,0,N,,012,Union,NaN,NaN
12718,: 340390386022024,17,N,,012,Union,NaN,NaN
12719,: 340390386022025,9,N,,012,Union,NaN,NaN
12720,: 340390386022026,18,N,,012,Union,NaN,NaN
12721,: 340390386022027,11,N,,012,Union,NaN,NaN
12722,: 340390386022028,135,N,,012,Union,NaN,NaN
12723,: 340390386022029,183,N,,012,Union,NaN,NaN
12724,: 340390386022030,0,N,,012,Union,NaN,NaN
12725,: 340390386022031,34,N,,012,Union,NaN,NaN
12726,: 340390386022032,0,N,,012,Union,NaN,NaN
12727,: 340390386023000,173,N,,012,Union,NaN,NaN
12728,: 340390386023001,394,N,,012,Union,NaN,NaN
12729,: 340390386023002,15,N,,012,Union,NaN,NaN
12730,: 340390386023003,35,N,,012,Union,NaN,NaN
12731,: 340390386023004,25,N,,012,Union,NaN,NaN
12732,: 340390386023005,60,N,,012,Union,NaN,NaN
12733,: 340390386023006,71,N,,012,Union,NaN,NaN
12734,: 340390386023007,0,N,,012,Union,NaN,NaN
12735,: 340390386023008,88,N,,012,Union,NaN,NaN
12736,: 340390386023009,0,N,,012,Union,NaN,NaN
12737,: 340390386023010,0,N,,012,Union,NaN,NaN
12738,: 340390386023011,4,N,,012,Union,NaN,NaN

In [123]:
## Try something else... the Gazetteer from http://www.census.gov/geo/maps-data/data/gazetteer2010.html
dfgaz = pd.read_csv('../2017 Other data/Gaz_cousubs_national.csv')
dfgaz['GEOID'] = dfgaz['GEOID'].astype(str)
dfgaz[dfgaz['USPS'] == 'NJ']

,USPS,GEOID,ANSICODE,NAME,FUNCSTAT10,POP10,HU10,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI,INTPTLAT,INTPTLONG
19726,NJ,3400100000,0,County subdivisions not defined,F,0,0,0,141638182,0.000,54.687,39.377235,-74.362448
19727,NJ,3400100100,885134,Absecon city,F,8411,3365,13975074,4911452,5.396,1.896,39.423563,-74.493025
19728,NJ,3400102080,885142,Atlantic City city,F,39558,20013,27834698,16289908,10.747,6.290,39.377297,-74.451082
19729,NJ,3400107810,885171,Brigantine city,F,9450,9222,16543185,10301305,6.387,3.977,39.427291,-74.389617
19730,NJ,3400108680,885173,Buena borough,F,4603,1855,19626218,3410,7.578,0.001,39.529170,-74.945205
19731,NJ,3400108710,882048,Buena Vista township,A,7570,3008,106328785,1229410,41.054,0.475,39.513086,-74.880028
19732,NJ,3400115160,885192,Corbin City city,F,492,212,19853242,3302576,7.665,1.275,39.301674,-74.705578
19733,NJ,3400120290,882051,Egg Harbor township,A,43323,16347,172487508,21589686,66.598,8.336,39.378291,-74.599779
19734,NJ,3400120350,885204,Egg Harbor City city,F,4243,1736,28314199,1310875,10.932,0.506,39.563687,-74.595865
19735,NJ,3400121870,885212,Estell Manor city,F,1735,673,138099831,4604332,53.321,1.778,39.353933,-74.775135
19736,NJ,3400123940,885222,Folsom borough,F,1885,717,21243371,611734,8.202,0.236,39.594537,-74.843972
19737,NJ,3400125560,882052,Galloway township,A,37349,14132,230701171,67700889,89.074,26.139,39.491453,-74.473865
19738,NJ,3400129280,882049,Hamilton township,A,26503,10196,287817921,5022710,111.127,1.939,39.481949,-74.737379
19739,NJ,3400129430,885242,Hammonton town,F,14791,5715,105897174,1377196,40.887,0.532,39.660780,-74.767021
19740,NJ,3400140530,885280,Linwood city,F,7092,2798,10010490,976883,3.865,0.377,39.343718,-74.571049
19741,NJ,3400141370,885286,Longport borough,F,895,1656,997578,3042745,0.385,1.175,39.310774,-74.526243
19742,NJ,3400143890,885292,Margate City city,F,6354,7114,3664967,559648,1.415,0.216,39.330913,-74.506849
19743,NJ,3400149410,882053,Mullica township,A,6147,2360,146130343,1246387,56.421,0.481,39.603687,-74.678036
19744,NJ,3400152950,885324,Northfield city,F,8624,3260,8815668,102341,3.404,0.040,39.371058,-74.554822
19745,NJ,3400159640,885356,Pleasantville city,F,20249,7219,14746306,4154457,5.694,1.604,39.388800,-74.514262
19746,NJ,3400160600,885360,Port Republic city,F,1115,444,19377846,2852354,7.482,1.101,39.534381,-74.476981
19747,NJ,3400168430,885397,Somers Point city,F,10795,5556,10437092,2923805,4.030,1.129,39.316080,-74.606770
19748,NJ,3400175620,885426,Ventnor City city,F,10650,7829,5054288,4068446,1.951,1.571,39.342066,-74.482818
19749,NJ,3400180330,882050,Weymouth township,A,2715,1220,31310904,934720,12.089,0.361,39.396330,-74.826955
19750,NJ,3400300700,885135,Allendale borough,F,6505,2388,8020223,55929,3.097,0.022,41.032669,-74.133826
19751,NJ,3400301090,885139,Alpine borough,F,1849,670,16603688,7306680,6.411,2.821,40.968149,-73.917150
19752,NJ,3400305170,885157,Bergenfield borough,F,26764,9200,7448416,24380,2.876,0.009,40.922334,-73.998001
19753,NJ,3400306490,885163,Bogota borough,F,8187,2888,1981232,124911,0.765,0.048,40.874287,-74.029735
19754,NJ,3400310480,885180,Carlstadt borough,F,6127,2495,10357741,631509,3.999,0.244,40.826424,-74.062338
19755,NJ,3400313570,885187,Cliffside Park borough,F,23594,10665,2493329,0,0.963,0.000,40.822081,-73.987834
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20267,NJ,3403964620,885379,Roselle borough,F,21085,7939,6866107,32524,2.651,0.013,40.652211,-74.260158
20268,NJ,3403964650,885380,Roselle Park borough,F,13297,5231,3190959,0,1.232,0.000,40.665265,-74.266706
20269,NJ,3403966060,882217,Scotch Plains township,A,23510,8896,23357651,81901,9.018,0.032,40.633026,-74.372905
20270,NJ,3403970020,882213,Springfield township,A,15817,6736,13399989,49191,5.174,0.019,40.697899,-74.334520
20271,NJ,3403971430,885412,Summit city,F,21457,8190,15528056,133290,5.995,0.051,40.715622,-74.364684
20272,NJ,3403974480,882212,Union township,A,56642,20250,23493856,54510,9.071,0.021,40.695266,-74.269078
20273,NJ,3403979040,885436,Westfield town,F,30316,10950,17401261,62226,6.719,0.024,40.651644,-74.343447
20274,NJ,3403981650,882215,Winfield township,A,1471,714,457911,416,0.177,0.000,40.633274,-74.291296
20275,NJ,3404100670,882243,Allamuchy township,A,4323,2096,52976645,800195,20.454,0.309,40.920033,-74.819759
20276,NJ,3404101030,885138,Alpha borough,F,2369,1032,4329352,67543,1.672,0.026,40.659447,-75.157052
20277,NJ,3404104990,885156,Belvidere town,F,2681,1140,3759498,99570,1.452,0.038,40.829802,-75.073337
20278,NJ,3404106160,882317,Blairstown township,A,5967,2272,79815842,2296524,30.817,0.887,40.980156,-74.996849
20279,NJ,3404124960,882251,Franklin township,A,3176,1219,62263759,225447,24.040,0.087,40.708514,-75.045939
20280,NJ,3404125320,882240,Frelinghuysen township,A,2230,826,60405386,628734,23.323,0.243,40.959486,-74.895154
20281,NJ,3404128260,882253,Greenwich township,A,5712,1870,27271790,33050,10.530,0.013,40.675626,-75.121504
20282,NJ,3404128710,885237,Hackettstown town,F,9724,3755,9341247,271820,3.607,0.105,40.853704,-74.824877
20283,NJ,3404129820,882239,Hardwick township,A,1696,619,94796551,3424765,36.601,1.322,41.040016,-75.006505
20284,NJ,3404130090,882248,Harmony township,A,2667,1109,61387418,981303,23.702,0.379,40.747701,-75.122777
20285,NJ,3404133060,882242,Hope township,A,1952,809,48228552,558961,18.621,0.216,40.910310,-74.985770
20286,NJ,3404133930,882244,Independence township,A,5662,2325,51136517,388343,19.744,0.150,40.880001,-74.876253
20287,NJ,3404137320,882241,Knowlton township,A,3055,1212,64099509,1502689,24.749,0.580,40.929261,-75.061796
20288,NJ,3404140110,882245,Liberty township,A,2942,1151,30051260,681517,11.603,0.263,40.869740,-74.938064
20289,NJ,3404141490,882252,Lopatcong township,A,8014,3420,18384248,156846,7.098,0.061,40.714352,-75.155769
20290,NJ,3404143320,882249,Mansfield township,A,7725,3316,77221239,293227,29.815,0.113,40.808466,-74.910230
20291,NJ,3404155530,882247,Oxford township,A,2514,1033,14986164,261955,5.786,0.101,40.808650,-74.993421
20292,NJ,3404158350,885350,Phillipsburg town,F,14950,6607,8269833,304984,3.193,0.118,40.691974,-75.179006
20293,NJ,3404159820,882254,Pohatcong township,A,3339,1420,34589833,924325,13.355,0.357,40.636483,-75.174906
20294,NJ,3404177270,885432,Washington borough,F,6461,2897,5030052,8997,1.942,0.003,40.758525,-74.983190
20295,NJ,3404177300,882250,Washington township,A,6651,2493,45744893,230238,17.662,0.089,40.729944,-74.958972
20296,NJ,3404180570,882246,White township,A,4882,2304,70322475,1242736,27.152,0.480,40.821516,-75.033111

In [124]:
df = pd.merge(df, dfgaz[['NAME', 'GEOID']], 
              how='left', left_on=['Census Block'], right_on=['GEOID'])
df[df['MCD']=='Y']['NAME'].value_counts()

Washington township                5
Franklin township                  3
Point Pleasant borough             2
Monroe township                    2
Union township                     2
Greenwich township                 2
Mansfield township                 2
Newark city                        2
Kearny town                        2
Teaneck township                   2
Springfield township               2
County subdivisions not defined    2
West Orange township               2
Bayonne city                       2
Jersey City city                   2
Scotch Plains township             2
Stafford township                  2
East Greenwich township            2
Middletown township                2
Old Bridge township                2
Ocean township                     2
Montclair township                 2
Bloomfield township                2
Morris Plains borough              1
Saddle River borough               1
Mantoloking borough                1
Dover town                         1
South Bound Brook borough          1
Branchburg township                1
Franklin Lakes borough             1
                                  ..
Rockleigh borough                  1
Lawrence township                  1
Haledon borough                    1
Cherry Hill township               1
Helmetta borough                   1
South River borough                1
Pohatcong township                 1
Chester borough                    1
Shrewsbury borough                 1
Plainsboro township                1
Bogota borough                     1
Randolph township                  1
Harrison township                  1
Andover township                   1
Bellmawr borough                   1
Roselle Park borough               1
Haddon Heights borough             1
Hamburg borough                    1
Oxford township                    1
Manasquan borough                  1
Paramus borough                    1
Sandyston township                 1
Barrington borough                 1
Florence township                  1
South Harrison township            1
Fair Lawn borough                  1
New Milford borough                1
Magnolia borough                   1
Park Ridge borough                 1
Ringwood borough                   1
Name: NAME, dtype: int64

In [131]:
tot = df['Population'].sum()
urbtot = df[df['MCD']=='Y']['Population'].sum()
rurtot = df[df['MCD']=='N']['Population'].sum()
print('NJ total population in 2011 plan components file {} ({} urban, {} rural ({}%))'.format(tot, urbtot, rurtot, 
                                                              100*rurtot/tot))

NJ total population in 2011 plan components file 9134693 (8068750 urban, 1065943 rural (11.669171585733642%))

In [133]:
df11 = df[df['District'] == '011']
tot = df11['Population'].sum()
urbtot = df11[df11['MCD']=='Y']['Population'].sum()
rurtot = df11[df11['MCD']=='N']['Population'].sum()
print('NJ total population in 2011 plan components file {} ({} urban, {} rural ({}%))'.format(tot, urbtot, rurtot, 
                                                              100*rurtot/tot))

NJ total population in 2011 plan components file 794877 (732658 urban, 62219 rural (7.827500355400899%))