# Find NJ Delegates in NJ Voters List

Thoughts:
* First, lets see what's in here. Look for Dem voters, look at their voting patterns, list phone numbers for Bill.
* Hmm... I wonder if we could predict election voting based on these features... then go after houses that fit the profile but didn't vote?

In [1]:
import pandas as pd
import csv
import zipfile
import os
import glob
import csv

In [2]:
# Get list of delegates
dfpeeps = pd.read_csv('../2017 Other data/2016 DNC Delegation.csv')
dfsurs = dfpeeps['Name-Last'].str.lower().tolist()
dffl = dfpeeps['Name-First'].str.lower() + '/' + dfpeeps['Name-Last'].str.lower()
dffllist = dffl.tolist()
dfpeeps.head()

,Delgate District / Position,Name-First,Name-Last,Original Name-First,Original Name-Last,Voter id,Phone numbers
0,16 Alternate,Vincent,Addeo,NaN,NaN,NaN,NaN
1,At-Large,Kristen,Affrime,NaN,NaN,NaN,NaN
2,3,Lonnie,Affrime,NaN,NaN,NaN,NaN
3,18,Assad,Akhter,NaN,NaN,NaN,NaN
4,Senior Advisor,Mark,Albiez,NaN,Albeiz,110012794.0,2.015475e+09

In [5]:
# Find delegate names in the list of voters
nametypes = {}
for col in ['voter id', 'city', 'party code', 'prefix', 'first name', 'middle name', 
           'last name', 'suffix', 'birth date', 'phone number', 'county']:
    nametypes[col] = 'str'
njvoters = pd.read_csv('../2017 Voter data/NJvoters.csv', dtype=nametypes)
njvoters['firstlast'] = njvoters['first name'].str.lower() + '/' + \
                        njvoters['last name'].str.lower()
njvoters = njvoters.fillna('')

founddelegates = njvoters[njvoters['firstlast'].isin(dffllist)]
founddelegates.to_csv('../2017 Voter data/Delegates_found.csv')

# List the people we missed
print("Couldn't find these people: {}".format(list(set(dffllist) - 
                                                   set(founddelegates['firstlast'].unique().tolist()))))
founddelegates.head()

Couldn't find these people: ['michelle/mcfadden-dinicola', 'sandra bolden/cunningham ', "timothy/o'donovan", 'tom/barrett', 'michellene/davis', 'brianne/earle']

,voter id,city,party code,prefix,first name,middle name,last name,suffix,birth date,phone number,county,firstlast
2561,107017079,absecon,REP,,wayne,R,lewis,,09/25/1952,,ATLANTIC,wayne/lewis
6994,107151340,atlantic city,DEM,,leroy,,jones,,08/18/1954,,ATLANTIC,leroy/jones
25831,107084504,atlantic city,DEM,,charles,M,tartius,,11/08/1973,,ATLANTIC,charles/tartius
29542,107085729,brigantine,DEM,,charles,T,hall,,01/02/1961,,ATLANTIC,charles/hall
32069,107072501,brigantine,DEM,,charles,A,robinson,,10/19/1931,,ATLANTIC,charles/robinson

In [6]:
# Start looking for those lost souls... 

# njvoters[(njvoters['first name'].str.startswith('tim')) & 
#          (njvoters['last name'].str.contains('donovan'))]

njvoters[(njvoters['first name'].str.startswith('kevin')) & 
         (njvoters['last name'].str.contains('conner'))]

,voter id,city,party code,prefix,first name,middle name,last name,suffix,birth date,phone number,county,firstlast
179986,150926014,ventnor city,UNA,,kevin,T,conners,,12/30/1961,,ATLANTIC,kevin/conners
525018,151361688,new milford,REP,,kevin,M,oconner,,03/01/1961,,BERGEN,kevin/oconner
2647841,101372622,kearny,DEM,,kevin,J,conners,,12/01/1957,,HUDSON,kevin/conners
3941552,532311633,lincroft,UNA,,kevin,W,oconner,,10/07/1958,,MONMOUTH,kevin/oconner
4476101,120241988,barnegat,UNA,,kevin,J,conner,,03/16/1956,6098354407,OCEAN,kevin/conner
4636199,105481570,forked river,REP,,kevin,A,conner,,03/23/1978,,OCEAN,kevin/conner
4698087,151135243,lavallette,UNA,,kevin,J,conner,,03/17/1991,,OCEAN,kevin/conner