# Voters: Explore list of voters in NJ

The original list was deliberately set up to have duplicates in it:  it was created with these columns: ['voter id', 'city', 'party code', 'prefix', 'first name', 'middle name', 'last name', 'suffix', 'birth date', 'phone number'] and drop_duplicates was run across all columns.  Any change in any of these for a voter should have created a second row for that voter. Now let's go have a look at that...

In [1]:
import pandas as pd



df = pd.read_csv('../outputs/NJvoters.csv')
print('{}'.format(df.columns))
df.head()

/Users/sara/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1,4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Index(['Unnamed: 0', 'voter id', 'city', 'party code', 'prefix', 'first name',
       'middle name', 'last name', 'suffix', 'birth date', 'phone number',
       'county'],
      dtype='object')

,Unnamed: 0,voter id,city,party code,prefix,first name,middle name,last name,suffix,birth date,phone number,county
0,0,107084520,ABSECON,REP,NaN,MOHAMED,A,ABDELSALAM,NaN,07/06/1954,NaN,ATLANTIC
1,6,152328908,ABSECON,DEM,NaN,NADIA,NaN,ABDELSALAM,NaN,12/16/1992,NaN,ATLANTIC
2,7,107175505,ABSECON,DEM,NaN,CHAFIC,NaN,ABUSADA,NaN,09/16/1937,6.096412e+09,ATLANTIC
3,16,107175504,ABSECON,DEM,NaN,GRACIELA,NaN,ABUSADA,NaN,03/01/1935,NaN,ATLANTIC
4,25,120182433,ABSECON,UNA,NaN,JANET,W,ADAMS,NaN,06/17/1958,8.567861e+09,ATLANTIC

In [10]:
df['voter id'].value_counts()

106307217    3
104453626    3
104562996    3
106272491    3
116335955    3
101045990    3
110549892    3
152233584    3
113011013    3
120120631    3
105679625    3
108023177    3
103009897    3
110290481    3
105553954    3
115042642    3
101630807    3
102004629    3
116050533    3
118009165    3
150369835    3
101152494    3
119654212    3
105424412    3
102151028    3
119066011    3
110056914    3
106052298    3
116390769    3
119219074    3
            ..
114402115    1
106013508    1
114402117    1
114402118    1
151825514    1
114402120    1
152276218    1
106013514    1
106013495    1
150307254    1
106013493    1
114402100    1
121282632    1
114402084    1
152276214    1
114402086    1
525443879    1
114402088    1
114402089    1
106013482    1
114402091    1
106013484    1
114402093    1
533781402    1
106013487    1
114402096    1
114402097    1
109062028    1
151063913    1
150187054    1
Name: voter id, dtype: int64

In [3]:
df[df['voter id'] == '106307217']

,Unnamed: 0,voter id,city,party code,prefix,first name,middle name,last name,suffix,birth date,phone number,county
5471391,1390674,106307217,WARREN,REP,NaN,JANICE,C,SKORSTAD,NaN,04/22/1957,9.736352e+09,SOMERSET
5471392,1390675,106307217,WARREN,GRE,NaN,JANICE,C,SKORSTAD,NaN,04/22/1957,9.736352e+09,SOMERSET
5471393,1390678,106307217,WARREN,DEM,NaN,JANICE,C,SKORSTAD,NaN,04/22/1957,9.736352e+09,SOMERSET

In [13]:
df[df['voter id'] == '152328908']

Empty DataFrame
Columns: [Unnamed: 0, voter id, city, party code, prefix, first name, middle name, last name, suffix, birth date, phone number, county]
Index: []

In [ ]:
towns = df[['city', 'county', 'voter id']].groupby(['city', 'county']).count()
towns.to_csv('../outputs/njtowns.csv', index=False)
towns